flask-openapi3==3.1.0
Flask==3.0.0
Werkzeug==3.0.1
Flask-SQLAlchemy==3.1.1
pydantic==2.4.2
email-validator==2.3.0
Flask-CORS==4.0.0
python-dotenv==1.0.0
gunicorn==21.2.0

pandas>=2.1.4
numpy>=1.26.2
jieba>=0.42.1
scikit-learn>=1.3.2

# 人脸识别相关
deepface>=0.0.79
opencv-python>=4.8.0
tf-keras>=2.15.0
Pillow>=10.0.0
